<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            text-align: center;
            font-family: Arial;
            border: 10px solid #667eea;
            padding: 50px;
        }

        h1 {
            font-size: 40px;
            color: #333;
        }

        h2 {
            color: #667eea;
        }
    </style>
</head>

<body>

<h1>Certificate of Achievement</h1>

<p>This is to certify that</p>

<h2>{{name}}</h2>

<p>has successfully completed</p>

<h3>{{event}}</h3>

<p>with</p>

<h3>{{type}}</h3>

</body>
</html>